body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f9;
      color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 15px;
    }

    h1 {
      color: #4CAF50;
      text-align: center;
      font-size: 24px;
    }

    .input-container {
      background-color: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
      width: 100%;
      max-width: 100%;
    }

    .input-container label {
      font-size: 12px;
      display: block;
      margin-top: 8px;
    }

    .input-container input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 2px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
    }

    .input-container input:focus {
      border-color: #4CAF50;
    }

    button {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 8px;
      margin-top: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    button:hover {
      background-color: #45a049;
    }

    table {
      width: 100%;
      max-width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
      font-size: 12px;
    }

    table th, table td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    table th {
      background-color: #4CAF50;
      color: white;
    }

    .pago {
      background-color: #28a745;
      color: white;
    }

    .devendo {
      background-color: #ffc107;
      color: black;
    }

    .atrasado {
      background-color: #dc3545;
      color: white;
    }

    .total {
      margin-top: 15px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-align: center;
      max-width: 100%;
    }

    .total span {
      display: block;
      font-size: 14px;
      margin: 4px 0;
    }